.author__avatar img {
  max-width: 200px;   /* 幅を200pxに制限 */
  border-radius: 50%; /* 丸く切り抜きたい場合 */
}

.page__footer {
  display: none !important;
}


/* 背景：確実に上書き */
html, body {
  background-color: gainsboro !important;
}

/* （任意）本文カードまでグレーにするなら */
.page, .page__content, .archive {
  background-color: gainsboro !important;
}
